/* h1, .par1 {
    color: red;
}

.par2 {
    color: green;
}

.par1 span {
    font-size: 60px;
}

.par2 span {
    color: black;
}

img {
    width: 100px;
    height: 100px;
    margin: 25px;
    border: 5px red solid;
    padding: 20px;
    display: block;
}

p {
    display: flex;
    background: red;
}
 */

.products {
    display: flex;
    flex-direction: row; 
    justify-content: center; /* позиціонує по вертикалі для flex-direction: row, позиціонує по горизонталі для flex-direction: column */
    align-items: center;
    gap: 20px;
} 

li {
    /* list-style-type: none; */
  }

